<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>larei was here.</title>
</head>
<body>
    <h1>prnt.sc Scraper <a target="_blank" href="https://github.com/Lareithen/prntscScrapper">GitHub</a></h1>
    <button class="buton" onClick="window.location.reload();">Refresh</button>
    <br><br><br><br><br>
    <a href="{{ resm }}" class="ortala">{{ resm }}</a>
    <img alt="hata" src="{{ resm }}" class="ortala">
</body>
</html>
